version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: motorcycle_rental
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"

  api:
    build: .
    depends_on:
      - postgres
      - rabbitmq
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=motorcycle_rental;Username=postgres;Password=postgres
      - RabbitMq__Host=rabbitmq
      - Storage__Path=/data/storage
    ports:
      - "5000:80"
    volumes:
      - ./storage:/data/storage

volumes:
  db-data: